$font_main: 'Lato', sans-serif;
$font_title: 'Playfair Display', sans-serif;
$color_main: #fff;

$italic_text: #689FF2;
$color_btn: #53F3CD;
$color_btn_hover: #02E0AB;
$color_line: #515773;
$color_bgc: #161926;

$maxWidth: 1440;
$maxWidthContainer: 1170;