$color_main: #282828;
$font_main: 'Montserrat-Bold';
$font_menu: 'Montserrat-Medium';
$font_title_main: 'Montserrat-Black';
$font_text: 'Montserrat-Medium';
$font_italic: 'Kindly-Jasmine';
$color_elements: #FFC700;
$color_light: #fff;
$color_titles: #0499DD;
$bgc_block: #EDEDED;
// $color_btn2: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);

$color_btn: linear-gradient(92.71deg, #3cbaf4 0%, #2b7f7c 100%);

$maxWidth: 1440;
$maxWidthContainer: 1170;