$font_main: 'Lato', sans-serif;
$font_title: 'Playfair Display', sans-serif;
$color_main: #262A3F;

$italic_text: #85BBB1;
$color_btn: #F1897B;
$color_btn_hover: #E64F3A;
$color_line: #E4E4E4;

$maxWidth: 1440;
$maxWidthContainer: 1170;