.lSSlideOuter { 
    position: relative;
    .lSPager.lSpg {
        position: absolute;
        top: 48%;
        right: -80px;
        transform: rotateZ(90deg) translateY(-50%) !important;
        li {
            margin-bottom: 0px;
            padding: 0 20px;
            a{
                width: 10px;
                height: 10px;
                border: 1px solid $color_light;
                border-radius: 50%;
                background-color: transparent;
            }
        }
        li.active {
            a{
                background-color: $color_light;
            }
        }
        
    }
}