.mobile-menu {

    .mobile-menu__overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
    }

    .mobile-menu__wrap {
        position: fixed;
        top: 0;
        left: -500px;
        background: linear-gradient(251.06deg, #55b8ffd8 -2.19%, #7e5affd7 103.21%);
        height: 100vh;
        width: 100%;
        box-shadow: 0 0 5px #684d9b54;
        max-width: 350px;
        transition: all .4s ease;
        z-index: 1000;

        .mobile-menu__top {
            height: 60px;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            max-width: 100%;
            height: auto;
            min-height: 200px;

            .mobile-menu__logo {
                img {
                    width: 180px;
                }
            }
        }

        .mobile-menu__body {
            li {
                position: relative;

                a:not(.social>li>a) {
                    display: inline-block;
                    padding: 15px;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 100%;
                    color: #fff;
                    position: relative;
                    overflow: hidden;

                    &:active {
                        color: #ff6363;
                    }
                }
            }
        }

        .social {
            display: flex;
        }
    }
}

.mobile-menu.open {
    .mobile-menu__overlay {
        display: block;
    }

    .mobile-menu__wrap {
        left: 0px;
    }
}

.burger {
    width: 50px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $color_light;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    span:nth-child(1) {
        top: 0px;
    }
    span:nth-child(2) {
        top: 14px;
    }
    span:nth-child(3) {
        top: 28px;
    }
}
.burger.open {
    span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }
    span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }
}
