$color_main: #2C4058;
$font_main: 'Montserrat';
$font_menu: 'Source Sans Pro';
$font_text: 'Open Sans';
$color_dateNews: #55B7FF;
$color_light: #fff;
$color_bgc: #685cde;

$maxWidth: 1440;
$maxWidthContainer: 1170;